@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
@font-face {
	font-family: "Nevis";
	src: url("../fonts/nevis.ttf");
}

.helv-neue { font-family: "Helvetica Neue"; }
.lato { font-family: "Lato"; }
.nevis { font-family: "Nevis"; }

.indent { margin-left: 2em; }
.backwards { unicode-bidi:bidi-override; direction:rtl; text-align: left; }
.kern-spacing { letter-spacing: 0.03em; }
.ultralight { font-weight: 100; }
.bold { font-weight: bold; }
.bolder { font-weight: 800; }

html, body { background-color: #959fb5; }

#content-wrapper{
  background-color: #536280;
  padding-top: .5em;
  position: relative;
  width: 100%;
  top: 0px;
}

#content-wrapper:after {
  content: " ";
  display: block;
  position: relative;
  top: 2.5em;
  left: 0px;
  width: 100%;
  height: 2.5em;
  background: linear-gradient(#536280 0%, transparent 0%), linear-gradient(135deg, #959fb5 33.33%, transparent 33.33%) 0 0%, #959fb5 linear-gradient(45deg, #959fb5 33.33%, #536280 33.33%) 0 0%;
  background: -webkit-linear-gradient(#536280 0%, transparent 0%), -webkit-linear-gradient(135deg, #959fb5 33.33%, transparent 33.33%) 0 0%, #959fb5 -webkit-linear-gradient(45deg, #959fb5 33.33%, #536280 33.33%) 0 0%;
  background: -o-linear-gradient(#536280 0%, transparent 0%), -o-linear-gradient(135deg, #959fb5 33.33%, transparent 33.33%) 0 0%, #959fb5 -o-linear-gradient(45deg, #959fb5 33.33%, #536280 33.33%) 0 0%;
  background: -moz-linear-gradient(#536280 0%, transparent 0%), -moz-linear-gradient(135deg, #959fb5 33.33%, transparent 33.33%) 0 0%, #959fb5 -moz-linear-gradient(45deg, #959fb5 33.33%, #536280 33.33%) 0 0%;
  background-repeat: repeat-x;
  background-size: 0px 100%, 9px 27px, 9px 27px;
  margin: .5em 0;
}

#name-banner {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#name-banner h1 a {
  text-decoration: none;
  color: white;
  padding-left: .1em;
  padding-right: .1em;
  font-size: 1em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}

#name-banner h1 a:hover {
  color: white;
  background-color: #1a2946;
  border-radius: 3px;
}

#headshot {
  float: left;
/*  border: 1px solid rgba(255, 255, 255, 0.5);*/
  width: 128px;
  height: 248px;
  overflow: hidden;
  margin-right: 2em;
  -webkit-animation: card-shadow-out .3s ease 0s 1;
}

#headshot:hover {
  -webkit-animation: card-shadow-in .3s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation: card-shadow .3s ease 0s 1;
}

@-webkit-keyframes card-shadow-in {
  from { box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
  to { box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); }
}

@-webkit-keyframes card-shadow-out {
  from { box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); }
  to { box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
}

#headshot img {
  position: relative;
  top: -15%;
  left: -25%;
  width: 150%;
}

#personal-links {
  margin-top: 1em;
}
#personal-links p {
  margin: 0;
}
#personal-links span {
  width: 1em;
  padding: .35em;
  background-color: #7991c1;
  border-radius: 1em;
  font-size: 1.1em;
  color: #1a2946;
}
#personal-links a {
  font-size: 1.1em;
  color: lightblue;
  text-decoration: none;
  padding: .1em .5em;
  margin-left: .2em;
  border-radius: 2px;
}
#personal-links a:hover {
  background-color: #1a2946;
}

.mui-card-shadow {
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#project-container {
  padding: 2em 10% 0 10%;
}

.project-card {
  width: 300px;
  height: 200px;
  margin-bottom: 2em;
  -webkit-animation: card-shadow-out .3s ease 0s 1;
  background-position: center;
}

.project-card:hover {
  -webkit-animation: card-shadow-in .3s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation: card-shadow .3s ease 0s 1;
}

#pokemon {
  background-image: url(../imgs/poke-sshot.png);
}

#supersocial {
  background-image: url(../imgs/ss-sshot.png);
}

#pointturn {
  background-image: url(../imgs/pt-sshot.png);
}

#gabyskok {
  background-image: url(../imgs/gjs-sshot.png);
}

#dunce-cap {
  background-image: url(../imgs/dc-sshot.png);
}

#projects-list {
  clear: left;
}
