@font-face {
  font-family: "Franchise Bold";
  src: url('../fonts/Franchise-Bold/Franchise-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

html { background: url(../imgs/peppers.jpg); }

iframe {
  border-width: 0;
}

.transparent { background: rgba(1,1,1,0.1); }

.title {
  font-size: 72px;
  color: #ff9e00;
}

h1 a:hover {
  text-decoration: none;
  color: #ff6000;
}

.jumbotron { background-image: url(../imgs/sammich.jpg); }

.error { color: black; }
.white { color: white; }
.red   { color: red; }

.login { padding-bottom: 10px; }

.helvetica-neue {	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
.franchise-bold { font-family: "Franchise Bold", sans-serif; }

.footer {
  height: 20px;
}